// Use this file to store credentials and connection details

#define SECRET_SSID "YOUR_SSID"	  	// replace with your WiFi network name…
#define SECRET_PASS "YOUR_PASSWORD"	// …your WiFi password
#define SECRET_PORT 8080          	// …and the port you want
